USE [master]
GO
/****** Object:  Database [DocumentLibraryAppDB]    Script Date: 12.07.2023 14:34:34 ******/
CREATE DATABASE [DocumentLibraryAppDB]
 
ALTER DATABASE [DocumentLibraryAppDB] SET COMPATIBILITY_LEVEL = 150
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DocumentLibraryAppDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DocumentLibraryAppDB]
GO
/****** Object:  Table [dbo].[DocumentLinkMappings]    Script Date: 12.07.2023 14:34:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DocumentLinkMappings](
	[Id] [uniqueidentifier] NOT NULL,
	[DocumentId] [bigint] NOT NULL,
	[ValidUntil] [datetime] NOT NULL,
 CONSTRAINT [PK_DocumentLinkMappings] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Documents]    Script Date: 12.07.2023 14:34:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Documents](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[FileName] [nvarchar](100) NOT NULL,
	[FileExtension] [nvarchar](20) NOT NULL,
	[ServerAbsoluteFilePath] [nvarchar](max) NOT NULL,
	[UploadedOn] [datetime] NOT NULL,
	[NumberOfDownloads] [bigint] NOT NULL,
	[FileUniqueIdentifierId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Documents] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[DocumentLinkMappings]  WITH CHECK ADD  CONSTRAINT [FK_DocumentLinkMappings_Documents] FOREIGN KEY([DocumentId])
REFERENCES [dbo].[Documents] ([Id])
GO
ALTER TABLE [dbo].[DocumentLinkMappings] CHECK CONSTRAINT [FK_DocumentLinkMappings_Documents]
GO
USE [master]
GO
